.parent {
    display: grid;
    grid-template-columns: repeat(5, 150px);
}
.box {
    position: relative;
    background-color: red;
    display: grid;
    place-items: center;
}

.blue {
    background: blue;
    width: 150px;
        height: 150px;
}

.red {
    background: red;
    width: 150px;
        height: 150px;
}